/**********
* General
**********/
.img-responsive {
    max-height: 100px;
    max-width: 100px;
}

/**********
* Map
**********/
#map {
    height: 100vh;
    width: 100%;
    position: absolute;
}

/**********
* Infowindow
**********/
.infowindow-title {
    font-weight: bold;
}

.info-window-content {
    max-width: 250px;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/**********
* Side Panel
**********/
#side-panel {
    background: #ffffff;
    min-width: 300px;
    max-height: 100vh;
    display: inline-block;
    position: absolute;
    border: 1px solid gray;
    top: 0;
    left: 0;
}

#side-panel hr {
    border-top: 1px solid gray;
    margin: 0;
}

.collapse-expand-panel {
    display: block;
    float: right;
    border: none;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.collapse-expand-panel:hover {
    cursor: pointer;
    opacity: .75;
}

.hidden {
    display: none;
}

#searchbar {
    margin-top: 1em;
    margin-bottom: 1em;
}

#results {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result {
    padding-top: 10px;
}

.result:hover {
    cursor: pointer;
    background: #e0ffff;
}

.selected {
    background: #e0ffff;
}

.title-line {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 1.12em;
    margin-bottom: 0;
}

.description {
    padding-top: 1.1em;
}

.web-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.web-links a {
    padding-right: 1em;
    padding-left: 1em;
    border-right: 1px solid black;
}

.web-links a:last-child {
    border: none;
}
